---
import Container from '@/components/Container.astro';
import Author from '@/components/ui/Author.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { DEFAULT_CONFIGURATION } from '@/lib/constants';
import { ArrowLeftIcon } from '@lucide/astro';
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('posts');

  return entries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout seo={entry.data.seo}>
  <Container as="section">
    <article class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <a
          href="/posts"
          class="text-muted-foreground hover:text-foreground flex w-max items-center gap-2 pb-4 text-sm transition-all"
        >
          <ArrowLeftIcon class="size-3" /> Back to archive
        </a>
        <h1 class="text-headings text-3xl font-semibold">{entry.data.title}</h1>
      </div>
      {
        entry.data.image && (
          <div class="relative aspect-video overflow-hidden rounded-lg">
            <Image src={entry.data.image} alt={entry.data.title} class="object-cover" />
          </div>
        )
      }
      <div class="prose-coffee text-foreground">
        <Content />
      </div>
    </article>

    <footer class="py-6">
      <Author {...DEFAULT_CONFIGURATION.author} />
    </footer>
  </Container>
</BaseLayout>
