---
import Container from '@/components/Container.astro';
import CoffeeHeading from '@/components/partials/CoffeeHeading.astro';
import Drops from '@/components/partials/Drops.astro';
import WorkExperience from '@/components/ui/WorkExperience.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { sortJobsByDate } from '@/lib/utils';
import { getCollection, getEntry, render } from 'astro:content';

const home = await getEntry('pages', 'homepage');

if (!home) {
  throw new Error('Homepage not found');
}

const { Content } = await render(home);

const links = await getCollection('links');

const jobs = await getCollection('jobs');
const sortedJobs = sortJobsByDate(jobs);
---

<BaseLayout>
  <Drops />

  <Container as="section" class="flex flex-col gap-5">
    <CoffeeHeading icon="drop-5">About</CoffeeHeading>

    <div class="prose prose-coffee dark:prose-invert">
      <Content />
    </div>
  </Container>

  {
    links.length > 0 && (
      <Container as="section" class="py-8">
        <div class="flex flex-col gap-5">
          <CoffeeHeading icon="drop-3">Where you can find me</CoffeeHeading>

          <ul class="flex flex-col gap-3">
            {links.map((link) => (
              <li class="flex items-center gap-5 py-0.5 text-sm">
                <span class="text-muted-foreground min-w-28">{link.data.label}</span>
                <a
                  class="text-headings font-medium"
                  rel="noopener noreferrer"
                  target="_blank"
                  href={link.data.url}
                >
                  {link.data.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </Container>
    )
  }

  {
    sortedJobs.length > 0 ? (
      <Container as="section" class="flex flex-col gap-5 py-6">
        <CoffeeHeading icon="stain" iconClass="size-5">
          What I've done over the years
        </CoffeeHeading>

        <ul class="flex flex-col gap-8">
          {sortedJobs.map((job) => (
            <WorkExperience entry={job} />
          ))}
        </ul>
      </Container>
    ) : null
  }
</BaseLayout>
