---
import Container from '@/components/Container.astro';
import Drops from '@/components/partials/Drops.astro';
import BaseLayout from '@/layout/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const home = await getEntry('pages', 'homepage');

if (!home) {
  throw new Error('Homepage not found');
}

const { Content } = await render(home);
---

<BaseLayout>
  <Drops />

  <Container>
    <div class="prose prose-coffee dark:prose-invert">
      <Content />
    </div>
  </Container>
</BaseLayout>
