---
import Drops from '@/components/Drops.astro';
import BaseLayout from '@/layout/BaseLayout.astro';
import { UserIcon } from "@lucide/astro";
---

<BaseLayout>
	<h1>Astro</h1>
	<UserIcon />
	<Drops />
</BaseLayout>
