---
// src/components/ThemeToggle.astro
import { SunIcon, MoonIcon } from '@lucide/astro';
---

<button
  id="theme-toggle"
  class="bg-coffee-200 dark:bg-coffee-700 border-border cursor-pointer rounded-full border p-2.5"
  aria-label="Toggle theme"
>
  <SunIcon class="size-4 dark:hidden" />
  <MoonIcon class="hidden size-4 dark:block" />
</button>

<script>
  // Verify saved preference or use system preference
  document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.getElementById('theme-toggle');

    // Apply saved theme
    document.documentElement.classList.toggle(
      'dark',
      localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
    );

    // Alter theme on click
    themeToggle?.addEventListener('click', () => {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
      } else {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
      }
    });
  });
</script>
