---
import { formatDate } from '@/lib/utils';
import type { CollectionEntry } from 'astro:content';
interface Props {
  entry: CollectionEntry<'posts'>;
}

const { entry } = Astro.props;
---

<li class="py-2">
  <div class="flex gap-5">
    <div class="relative min-w-22 shrink-0">
      <span class="text-muted-foreground text-sm">{formatDate(entry.data.date)}</span>
    </div>

    <a href={`/posts/${entry.id}/`} class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="text-headings font-medium">{entry.data.title}</span>
        <p class="text-sm">{entry.data.seo.description}</p>
      </div>
    </a>
  </div>
</li>
