---
import type { CollectionEntry } from 'astro:content';
interface Props {
  entry: CollectionEntry<'series'>;
}

const { entry } = Astro.props;
---

<li class="py-2">
  <div class="flex gap-5">
    <a href={`/series/${entry.id}/`} class="flex flex-col gap-3">
      <h3 class="text-headings text-3xl font-medium">{entry.data.title}</h3>
      <p>{entry.data.seo.description}</p>
    </a>
  </div>
</li>
