---
import '@/styles/global.css';
---

<html
  lang="en"
  class="bg-background text-foreground"
>
  <!-- Prevent flash of incorrect theme -->
  <script is:inline>
    // Apply theme immediately
    document.documentElement.classList.toggle(
      'dark',
      localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
    );
  </script>
  <body class="bg-background text-foreground relative pb-12">
    <main class="pt-24">
      <slot />
    </main>
  </body>
</html>
